<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Smart Money Ventures</title>
    <meta name="description" content="Rental Apartments , Rentos helps in finding the right apartment . We provide maps , transportation , service providers to make your decision more easy" />
    <meta name="keywords" content="Rental , Rental Apartment " />
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="../css/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
    <link type="text/css" href="../css/font-awesome.min.css" rel="stylesheet" />


    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

<header>
</header>

<div id="main-container">

</div> <!-- End Main Container -->

<!-- Start Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <img style="width:8%" src="../img/footer-icons/madelogo-1.png" />
                <span style="font-family:Arial, Helvetica, sans-serif ; font-size:16px ; font-weight:bold; color:#b5b4b4"> &copy;Paradigm Shift Inc 2013</span>
                <span style="font-family:Arial, Helvetica, sans-serif ; font-size:16px ; font-weight:bold; color:#b5b4b4">- Home | About | Blog | TOS | FAQ | Applications | Contact | Privacy &nbsp; &nbsp; &nbsp;</span>
                <img  style="width:6%"  src="../img/footer-icons/verisign.jpg" />
                <img  style="width:4%" src="../img/footer-icons/truste_logo_1.gif" />

                <img   style="width:8%" src="../img/footer-icons/vp-privacy-imgMcafee.png" />

                <!--<a href="#">Privacy Policy</a>-->
            </div> <!-- End Span id -->
        </div>
    </div>
</footer>


</body>
</html>
